<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
  <add key="output" value="D:\Meu Desenvolvimento\output"/>
  <add key="input" value="D:\Meu Desenvolvimento\input\D_quina.zip"/>
   <add key="quinaHtm" value="D:\Meu Desenvolvimento\output\D_QUINA.HTM"/>
  <add key="quinaTxt" value="D:\Meu Desenvolvimento\output\D_QUINA.txt"/>

 </appSettings>
</configuration>